*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero{
  background: url(./pic/hero.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}


nav a{
  font-family: cursive;
}

#spinner {
  display: none;
}

#emptyBox {
  display: none;
}

#noResult {
  display: none;
}


.footer-pic{
  background: url(./pic/footer.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  height: 40vh;
}